export (i2d)
export (mstGCluster)
export (mgGCluster)
export (codeGCluster)
export (tjGCluster)
export (tree_list)
export (branch_list)
importFrom("igraph", "graph_from_adjacency_matrix", "mst", "E", "delete.edges", "components", "V")
importFrom("EBImage", "readImage")
importFrom("stats", "dist", "kmeans")
importFrom("utils", "combn", "setTxtProgressBar", "txtProgressBar")
